:root {
  --active-color: #2196f3;
  --active-color-text: #ffffff;
  --contact-color: #757575;
  --filter-background-color: #f5f4fa;
  --main-text-color: #212121;
  --background-color-of-crew: #f5f4fa;
  --background-color-of-footer: #2f303a;
  --color-of-contact-footer: rgba(255, 255, 255, 0.6);
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway';
}
body {
  font-family: var(--font-primary);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

.filter-portfolio {
  font-family: var(--font-primary);
  border-style: none;
  background-color: var(--filter-background-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.39;
}

.filter-portfolio:hover,
.filter-portfolio:focus {
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--active-color-text);
  cursor: pointer;
}

.navig-buttons {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
}

.navig-buttons:hover,
.navig-buttons:focus {
  color: var(--active-color);
}

.header-contact {
  color: var(--contact-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--active-color);
}

.footer-contact {
  color: var(--color-of-contact-footer);
  line-height: 1.46;
  text-decoration: none;
  font-style: normal;
}

.footer-contact:hover,
.footer-contact:focus,
.page-logo-web {
  color: var(--active-color);
}

.page-logo {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  text-decoration: none;
  color: var(--main-text-color);
}

.address-street {
  font-size: 14px;
  font-style: normal;
  line-height: 1.46;
  text-decoration: none;
  color: var(--active-color-text);
}

.name-of-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.06em;
}
.kind-of-project {
  line-height: 1.6;
  color: var(--contact-color);
}
.effective-solution {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.16;
  letter-spacing: 0.06em;
  color: var(--active-color-text);
}
.order-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--active-color-text);
  border-style: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.06em;
}
.lorem-ipsum {
  font-weight: 700;
  line-height: 1;
  font-size: 14px;
}
.lorem-ipsum-paragraph {
  font-size: 14px;
  line-height: 1.71;
}
.header-of-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.header-of-coworker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.position-of-coworker {
  font-size: 16px;
  line-height: 1.19;
  color: var(--contact-color);
}
.main-board,
.page-footer {
  background-color: var(--background-color-of-footer);
}

.page-logo-footer {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  text-decoration: none;
  color: var(--active-color-text);
}
